[package]
name = "unis-utils"
description = "unis 工具。"
version = "0.1.0"

edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
tokio.workspace = true
tracing.workspace = true
