[workspace]
resolver = "3"
members = ["unis", "unis-macros", "aggregate"]

[workspace.package]
version = "0.1.1"
edition = "2024"
authors = ["Eric"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/uniTravel/unis"

[patch.crates-io]
unis = { path = "./unis" }
unis-macros = { path = "./unis-macros" }

[workspace.dependencies]
unis = "0.1.1"
unis-macros = "0.1.1"

tokio = { version = "1.0", features = ["full"] }
crossbeam = "0.8"
tracing = { version = "0.1", features = ["release_max_level_info", "valuable"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
uuid = { version = "1.0", features = ["v4", "serde"] }
ahash = "0.8"
serde = { version = "1.0", features = ["derive"] }
bincode = "2.0"
bytes = "1.10"
validator = { version = "0.20", features = ["derive"] }
thiserror = "2.0"
config = "0.15"
rdkafka = "0.38"
futures = "0.3"
