[workspace]
resolver = "3"
members = ["unis", "unis-macros", "aggregate", "unis-kafka"]

[workspace.package]
version = "0.1.1"
edition = "2024"
authors = ["Eric"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/uniTravel/unis"

[patch.crates-io]
unis = { path = "./unis" }
unis-macros = { path = "./unis-macros" }
unis-kafka = { path = "./unis-kafka" }

[workspace.dependencies]
unis = "0.1.1"
unis-macros = "0.1.1"
unis-kafka = "0.1.1"

uuid = { version = "1.0", features = ["v4", "serde"] }
ahash = "0.8"
crossbeam = "0.8"
serde = { version = "1.0", features = ["derive"] }
bincode = "2.0"
bytes = "1.10"

tokio = { version = "1.0", features = ["full"] }
futures = "0.3"

tracing = { version = "0.1", features = ["release_max_level_info", "valuable"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
thiserror = "2.0"

config = "0.15"
validator = { version = "0.20", features = ["derive"] }
